# ==========================
# Python / Backend
# ==========================
__pycache__/
*.py[cod]
venv/
.env
.pytest_cache/
db.sqlite3
*.log

# ==========================
# Unity 3D (Desktop)
# ==========================
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
*.csproj
*.sln
.vs/

# ==========================
# OS & Misc
# ==========================
.DS_Store
Thumbs.db
.idea/
.vscode/
